---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {% for js in page.js_arr %}
      {% if js == "scripts/expandable-header.js" %}
        <div class="expand-all">
        [► Expand all]
        </div>
      {% endif %}
    {% endfor %}
  	{{ content | replace: '<li>[ ]', '<li class = "box">' | replace: '<li>[x]', '<li class = "box_done">'  }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
<!-- Stuff for js_arr tag  -->

{% for js in page.js_arr %}
  <script type="text/javascript">
     {% include {{ js }} %}
  </script>
{% endfor %}

<!-- End Stuff for js_arr tag  -->